.tree {
  position: relative;
  left: 0;
  z-index: 8;
  height: 100%;
  background: #fff;
  border-right: 1px solid #adadad;
  transition: all .3s;
}
.tree_top {
    position: relative;
    height: 25px;
    /* padding-right: 4px; */
    /* overflow: hidden; */
    /* text-align: right; */
    background: linear-gradient(#c9c9c9,#b9b9b9);
    background-color: #c9c9c9;
    border-bottom: 1px solid #aaa;
  }

